.details{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color:navy;
    height: 92.5vh;
    background-color: rgb(255, 245, 223);
    font-weight: 900;
    font-size: 19px;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}