*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.maincard{
    padding: 20px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    gap: 70px;  
}
input{
    margin-top: 20px;
    width: 500px;
    margin-left: 37%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid navy;
    padding-left: 10px;
}